fastapi
uvicorn[standard]
python-multipart
pydantic
pydantic-settings
groq
langgraph
langchain
langchain-groq
langchain-community
pymupdf
neo4j
pinecone-client
redis
sqlalchemy
asyncpg
loguru
aiofiles
python-dotenv
pdfplumber
pdf2image